/* Experience Section */
.tab-grid.experience.active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.experience-item {
    background: #2d3542;
    border-left: 5px double #32cd32;
    transition: 0.3s ease-in-out;
    border-radius: 0.8rem;
    padding: 2rem;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.experience-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 60px solid #32cd32;
    border-left: 60px solid transparent;
    border-top-right-radius: 0.8rem;
}

.experience-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: #32cd32;
}

.experience-item h4 {
    font-size: 1.5rem;
    margin: 0.8rem 0;
    color: #fff;
}

.experience-item h4:nth-child(1) {
    font-size: 0.9rem;
    font-weight: 500;
    color: #32cd32;
}

.experience-item h4:nth-child(3) {
    font-size: 0.9rem;
    margin-left: 2rem;
    position: relative;
    color: #e6e5e5;
}

.experience-item h4:nth-child(3)::before {
    content: "";
    position: absolute;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #32cd32;
    border-radius: 50%;
}

.experience-item p {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
    color: #e6e5e5;
    word-spacing: 1.2px;
}

@media screen and (max-width: 1050px) {
    .tab-grid.experience.active {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .tab-grid.experience.active {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .resume-item h4 {
        font-size: 1.6rem;
    }

    .resume-item p {
        font-size: 1rem;
    }
}