.service-card {
    margin: .5rem;
    padding: 1.1rem;
    border: 1px solid #2d3542;
    background-color: #2d3542;
    border-radius: 11px;
    transition: 0.2s;
}

.service-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 1rem;
}

.main-icon {
    font-size: 3rem;
    border-radius: 50%;
    color: #fff;
    padding: .5rem;
}

.arrow-icon {
    border-radius: 50%;
    font-size: 2.5rem;
    padding: .5rem;
    color: #2d3542;
    background-color: #fff;
    opacity: 1;
    transform: rotate(40deg);
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.service-text h2 {
    font-size: 1.7rem;
    padding-bottom: 1rem;
    color: #fff;
}

.service-text p {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    color: #fff;
}

.service-card:hover .main-icon,
.service-card:hover .service-text h2 {
    color: green;
    transition: 0.2s;
}


.service-card:hover .arrow-icon {
    background-color: green;
    transition: 0.2s;
}

.arrow-icon:hover {
    transform: rotate(0deg);
}