.typed-header {
    font-weight: 600;
    font-size: 1.9rem;
    color: #fff;
}

.typed-text {
    color: #32cd32;
    font-weight: 400;
    font-size: 2rem;font-family: "Winky Rough", sans-serif;
    padding-left: 10px;
}

